.header__swapper {
  margin-bottom: 46px;
  margin-top: 18px;
  font-weight: 400;
  font-size: 18px;  
  text-align: right;
  color: white;
  text-decoration: none;
}

@media (max-width:600px) {
  .header__swapper{
    margin-right: 30px;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 17px;
  } 
}