.imageCard-error {
    max-width: 362px;
    margin-top: 3px;
    /* position: absolute;
    top: 197px;
    left: 36px; */
}

@media (max-width: 600px) {
    .imageCard-error {
        max-width: 242px;
    }
}