.popup__close {
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    background-image: url(../../../images/Close_Icon.svg);
    background-size: cover;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 600px) {
    .popup__close {
        top: -38px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}