.popup__container_image {
    max-width: fit-content;
    background: none;
    border-radius: 0;
}

@media (max-width: 600px) {
    .popup__container_image {
        max-width: 600px;
        min-width: 150px;
    }
}

